:root{
    --color--primario: blueviolet;
    --color--secunadrio: crimson;
    --color--texto: green;
}

main{
    display: grid;
    grid-template-columns: auto auto auto;
}

main div{
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
}

img{
    width: 100%;
}

.item1{
    grid-area: header;

}

.item2{
    grid-area: nav;
    
}

.item3{
    grid-area: aside;
    
}

.item4{
    grid-area: main;
    
}

.item5{
    grid-area: footer;
    
}

.grid-container{
    display: grid;
    grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "aside main main main"
        "footer footer footer footer";
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    background-color: var(--color--primario);
    color: var(--color--texto);
    font-weight: 500;
    padding: 5px;
    transition: background-color 0.8s linear 0.2s, padding 0.3 ease;
}

a:hover{
    background-color: var(--color--secunadrio);
    padding: 7px;
}

#modal{
    width: 50%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}